*{
    margin:0;
    padding:0;
}
html{
    font-size:26.67vw;
}
body{
    font-size: 14px;
}
html,body{
    height:100%;
   overflow: hidden;

}
li{
    list-style: none;
}
i{
    font-style: normal;
}